<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scale_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Gate_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scale_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <Scale_Service.Properties.Settings>
            <setting name="Scale_1_Address" serializeAs="String">
                <value>192.168.8.14</value>
            </setting>
            <setting name="Scale_2_Address" serializeAs="String">
                <value>192.168.8.14</value>
            </setting>
            <setting name="Scale_Service_Truck_Scale_Connection_Scale_Connection"
                serializeAs="String">
                <value>http://ctap-scale/Scale_Connection.asmx</value>
            </setting>
        </Scale_Service.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Scale_Service.Properties.Settings>
            <setting name="Scale1_Port" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="Scale2_Port" serializeAs="String">
                <value>10002</value>
            </setting>
        </Scale_Service.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
