<h2>Kiosk </h2>
<div class="gm-pagehead gm-pagehead--sticky">
    <div class="gm-pagehead__left">
        <div  role="group" >
        <button type="button"
                class="btn btn-primary"
                id="btnPrintTicket"
                data-ticket="123456"
                data-device-id="1">
            Print Ticket To Kiosk
        </button>
        <button id="fullscreenBtn" class="btn btn-primary" type="button">
            Full Screen
        </button>

        </div>
    </div>

    
</div>

<div id="gmNoLocationSet" class="pt-3" style="display:none;">
    <h3 class="text-danger mb-0">Select Location To Continue</h3>
</div>


<video id="cam1" autoplay muted playsinline
       style="width:100%; max-width: 900px; border: 1px solid #ccc; background:black;"></video>

<p id="status" style="font-family:sans-serif; font-size:0.9rem;"></p>


