@* Lower layout for Warehouse Intake *@

<div class="row g-2 mt-2 gm-ws-row" data-warehouse-mode="intake">
    @* <a class="btn btn-primary" href="/Warehouse/TestLoadTicketPdf" target="_blank">
        Print Test Load Ticket (PDF)
    </a>
 *@
   

    <!-- LEFT -->
    <div class="col-6 gm-ws-col">

        <div class="gm-ws-panel">
            <div class="p-1"><h6 class="mb-1">Trucks In Yard</h6></div>
            <div class="gm-ws-panel__body p-1">
                <div id="gridTrucksInYard" class="gm-gridHost"></div>
            </div>
        </div>

        <div class="gm-ws-panel">
            <div class="p-1"><h6 class="mb-1">Open Weight Certificates</h6></div>
            <div class="gm-ws-panel__body p-1">
                <div id="gridOpenCerts" class="gm-gridHost"></div>
            </div>
        </div>

        <div class="gm-ws-panel">
            <div class="p-1"><h6 class="mb-1">Closed Weight Certificates</h6></div>
            <div class="gm-ws-panel__body p-1">
                <div id="gridClosedCerts" class="gm-gridHost"></div>
            </div>
        </div>

    </div>

    <!-- RIGHT -->
    <div class="col-6 gm-ws-col">

        <div class="gm-ws-panel" style="flex:0 0 260px;">
            <div class="p-2">
                <div class="d-flex justify-content-between mb-2">
                    <div>
                        <strong>Weight Certificate</strong>
                        <span id="wsCertIdLink">#----</span>
                        &nbsp;| Lot <span id="wsLot">----</span>
                    </div>
                    <div>Net: <strong id="wsNet">0</strong></div>
                </div>

                <div id="wsDetailForm"></div>
            </div>
        </div>

        <div class="gm-ws-panel" style="flex:1 1 auto;">
            <div class="p-1"><h6 class="mb-1">Loads</h6></div>
            <div class="gm-ws-panel__body p-1">
                <div id="gridLoads" class="gm-gridHost"></div>
            </div>
        </div>

    </div>

</div>

<link href="~/css/pages/warehouse.intake.css" rel="stylesheet" />
