@{
    ViewData["Title"] = "New WeightSheet";
}

<a href="/Warehouse" class="gm-module-bar gm-module-bar--warehouse gm-module-bar--link" title="Back to Warehouse">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--warehouse" aria-hidden="true"></span>
    <span class="gm-module-bar__label">NEW WEIGHTSHEET</span>
</a>

<h3 class="text-center mt-4 mb-3 fw-semibold" style="font-size:2rem;">Select Weight Sheet Type</h3>
<div class="row g-4 justify-content-center">

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link gm-tile--intake" href="/GrowerDelivery/NewWeightSheet">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-tile__icon--bold gm-icon gm-icon--delivery" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Grower Delivery</h2>
            </div>
            <p class="gm-tile__text">Inbound from a grower</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link gm-tile--transfer" href="/Warehouse/TransferIn">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-tile__icon--bold gm-icon gm-icon--transfer gm-icon--flip" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Transfer</h2>
            </div>
            <p class="gm-tile__text">Inbound from another location</p>
        </a>
    </div>

</div>
