@{
    ViewData["Title"] = "New WeightSheet";
}

<a href="/Warehouse" class="gm-module-bar gm-module-bar--warehouse gm-module-bar--link" title="Back to Warehouse">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--warehouse" aria-hidden="true"></span>
    <span class="gm-module-bar__label">NEW WEIGHTSHEET</span>
</a>

<div class="gm-loadType">
    <div class="gm-loadType__stack">

        <div class="gm-loadType__header">
            <div class="gm-loadType__title">New WeightSheet</div>
            <div class="gm-loadType__subtitle">Choose the type of weight sheet</div>
        </div>

        <div class="gm-loadType__grid">
            <!-- Grower Delivery -->
            <a class="gm-loadType__btn gm-loadType__btn--grower" href="/GrowerDelivery/NewWeightSheet">
                <div class="gm-loadType__icon gm-icon gm-icon--delivery" aria-hidden="true"></div>
                <div class="gm-loadType__text">
                    <div class="gm-loadType__label">Grower Delivery</div>
                    <div class="gm-loadType__hint">Inbound from a grower</div>
                </div>
            </a>

            <!-- Transfer -->
            <a class="gm-loadType__btn gm-loadType__btn--transferIn" href="/Warehouse/TransferIn">
                <div class="gm-loadType__icon gm-icon gm-icon--transfer gm-icon--flip" aria-hidden="true"></div>
                <div class="gm-loadType__text">
                    <div class="gm-loadType__label">Transfer</div>
                    <div class="gm-loadType__hint">Inbound from another location</div>
                </div>
            </a>
        </div>
    </div>

</div>
