<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Test_Connection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Agvantage_Transfer.Properties.Settings.NW_DataConnectionString"
            connectionString="Data Source=.\;Initial Catalog=NW_Data;Persist Security Info=True;User ID=sa;Password=Scale_Us3r"
            providerName="System.Data.SqlClient" />
        <add name="Agvantage_Transfer.Properties.Settings.Seed_DataConnectionString"
            connectionString="Data Source=.\;Initial Catalog=Seed_Data;User ID=sa;Password=Scale_Us3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Test.Properties.Settings>
            <setting name="AgvWebService_AgvantageTransferService" serializeAs="String">
                <value>http://localhost/AgvantageTransferService.asmx</value>
            </setting>
            <setting name="Test_Connection_AgvWebService_AgvantageTransferService"
                serializeAs="String">
                <value>http://localhost/AgvantageTransferService.asmx</value>
            </setting>
        </Test.Properties.Settings>
        <Test_Connection.Properties.Settings>
            <setting name="AgvWebService_AgvantageTransferService" serializeAs="String">
                <value>http://localhost/AgvantageTransferService.asmx</value>
            </setting>
        </Test_Connection.Properties.Settings>
    </applicationSettings>
</configuration>