<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KioskIFace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections><appSettings>
  <add key="ComPort" value="/dev/ttyUSB0" />
  <add key="Scale" value="Truck Scale" />
  <add key="Printer" value="OutboundKiosk" />
  <add key="Location_ID" value="22" />
  <add key="Scale_UID" value="98e38501-f022-4b21-a997-673b094e97c5" />
</appSettings><startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup><applicationSettings><KioskIFace.Properties.Settings>
            <setting name="KioskIFace_KioskWebService_Kiosk" serializeAs="String">
                <value>http://Wallulaserver/kiosk.asmx</value>
            </setting>
        </KioskIFace.Properties.Settings></applicationSettings></configuration>