@{
    ViewData["Title"] = "System";
}

<a href="/" class="gm-module-bar gm-module-bar--system gm-module-bar--link" title="Back to Home">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--settings" aria-hidden="true"></span>
    <span class="gm-module-bar__label">SYSTEM</span>
</a>

<div class="row g-4 mt-2">
    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Camera">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--camera" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Cameras</h2>
            </div>
            <p class="gm-tile__text">Cameras accessible by the system</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Scales">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--scale" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Scales</h2>
            </div>
            <p class="gm-tile__text">Scales accessible to the system</p>
        </a>
    </div>
</div>
