@{
    ViewData["Title"] = "Agvantage Seed Transfer";
}

<a href="/Updates" class="gm-module-bar gm-module-bar--admin gm-module-bar--link" title="Back to Updates">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--seed" aria-hidden="true"></span>
    <span class="gm-module-bar__label">AGVANTAGE SEED TRANSFER</span>
</a>

<div class="text-center mt-5">
    <p style="color:#2e7d32;font-weight:700;font-size:2rem;">
        Coming Soon
    </p>
</div>
