<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LotLabeler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LotLabeler.Properties.Settings.NW_DataConnectionString"
        connectionString="Data Source=.\;Initial Catalog=NW_Data;Persist Security Info=True;User ID=sa;Password=Scale_Us3r"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <LotLabeler.Properties.Settings>
      <setting name="SelectedPrinter" serializeAs="String">
        <value />
      </setting>
    </LotLabeler.Properties.Settings>
  </userSettings>
</configuration>
