@{
    var themeKey = Context.Items["ThemeKey"]?.ToString() ?? "default";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

   

    <title>GrainManagement</title>
    <link rel="shortcut icon"
          href="~/assets/branding/@(themeKey)/favicon.ico"
          type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://cdn.jsdelivr.net/npm/devextreme-quill@24_1/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/app.base.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="~/css/themes/@(themeKey).css"
          asp-append-version="true" />

    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    @* Uncomment to use Globalize for localization *@
    @* Docs: https://docs.devexpress.com/AspNetCore/400577#globalize *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@
    <script src="~/js/devextreme/exceljs.min.js"></script>
    <script src="~/js/devextreme/filesaver.min.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/devextreme-license.js"></script>
</head>

<body style="padding-top: 3.5rem;">

    <nav class="navbar navbar-dark gm-navbar fixed-top navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center gap-2" href="/">
                <img src="~/assets/branding/@(themeKey)/logo.png"
                     alt="Logo"
                     style="height:34px; width:auto;" />
           <span>Grain Management</span>
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Warehouse" class="nav-link">Warehouse</a></li>
                    <li class="nav-item"><a href="/Seed" class="nav-link">Seed</a></li>
                    <li class="nav-item"><a href="/Reports" class="nav-link">Reports</a></li>
                     @if (User.Identity.IsAuthenticated)
                        {
                        
                        @inject ICurrentUser CurrentUser
                        if (CurrentUser.IsManager || CurrentUser.IsAdmin)
                        {
                            <li class="nav-item">
                                <a asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
                            </li>
                        }
                        }
                </ul>
                    <div class="d-flex ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="navbar-text text-light me-2">
                                @User.Identity.Name
                            </span>
                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" class="btn btn-outline-light">Logout</a>
                        }
                        else
                        {
                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" class="btn btn-outline-light">Login</a>
                        }
                    </div>
            </div>
        </div>
    </nav>

    <main class="container" style="margin-top: 1.5rem;">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>