<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weight_Sheet_Export.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.NW_Data_MasterConnectionString"
            connectionString="Data Source=Waldb001;Initial Catalog=NW_Data;User ID=sa;Password=Scale_Us3r"
            providerName="System.Data.SqlClient" />
        <add name="Weight_Sheet_Export.Properties.Settings.NW_Data_MasterConnectionString"
            connectionString="Data Source=Waldb001;Initial Catalog=NW_Data;User ID=sa;Password=Scale_Us3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Weight_Sheet_Export.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Weight_Sheets.csv</value>
            </setting>
            <setting name="SelectedDistricts" serializeAs="String">
                <value />
            </setting>
        </Weight_Sheet_Export.Properties.Settings>
    </userSettings>
</configuration>