@model DevExpress.XtraReports.UI.XtraReport
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiosk Ticket - Basic Weigh</title>

    <!-- CSS -->
    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/reporting/dx-analytics.common.css" />
    <link rel="stylesheet" href="~/css/reporting/dx-analytics.light.css" />
    <link rel="stylesheet" href="~/css/reporting/dx-webdocumentviewer.css" />

    <!-- Scripts -->
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/reporting/knockout-latest.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme-license.js"></script>
    <script src="~/js/reporting/dx-analytics-core.js"></script>
    <script src="~/js/reporting/dx-webdocumentviewer.min.js"></script>
</head>
<body style="margin:0; padding:0;">
    <div style="height: 100vh;">
        @(Html.DevExpress().WebDocumentViewer("kioskTicketViewer")
            .Height("100%")
            .Bind(Model))
    </div>
</body>
</html>
