<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KioskIFace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ComPort" value="" />
        <add key="Scale" value="Truck Scale" />
        <add key="Printer" value="FS-C5150DN" />
        <add key="Location_ID" value="21" />
        <add key="Scale_UID" value="d8a21a3f-79d3-eb11-b82d-00155d01ae00" />
    </appSettings>
    <applicationSettings>
        <KioskIFace.Properties.Settings>
            <setting name="KioskIFace_KioskWebService_Kiosk" serializeAs="String">
                <value>http://waldv001/kiosk.asmx</value>
            </setting>
        </KioskIFace.Properties.Settings>
    </applicationSettings>
</configuration>