@model IEnumerable<GrainManagement.Controllers.RemoteController.RemoteDef>
@{
    ViewData["Title"] = "Remote Access";
}

<a href="/" class="gm-module-bar gm-module-bar--remote gm-module-bar--link" title="Back to Home">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--remote" aria-hidden="true"></span>
    <span class="gm-module-bar__label">REMOTE</span>
</a>

<div class="pt-3 gm-remote-container">
    <div class="list-group w-100" style="max-width:500px;">
        @foreach (var rem in Model)
        {
            <div class="list-group-item d-flex justify-content-center align-items-center">
                <a class="btn btn-primary w-100" href="@rem.Url" target="_blank" rel="noopener">@rem.Name</a>
            </div>
        }
    </div>
</div>
