@{
    ViewData["Title"] = "Admin";
}

<h1 class="text-center">Administration</h1>

<div class="d-flex justify-content-center mt-4">
    <a asp-action="Index" asp-controller="Users" class="btn btn-outline-dark mx-2" style="width: 180px;">Users</a>
    <a asp-action="Index" asp-controller="Accounts" class="btn btn-outline-dark mx-2" style="width: 180px;">Accounts</a>
</div>