@{
    ViewData["Title"] = "Warehouse Administration";
}

<a href="/" class="gm-module-bar gm-module-bar--warehouse gm-module-bar--link" title="Back to Home">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--warehouse" aria-hidden="true"></span>
    <span class="gm-module-bar__label">WAREHOUSE ADMINISTRATION</span>
</a>

<div class="text-center mt-5">
    <p style="color:#d4a017;font-weight:700;font-size:2rem;">
        Coming Soon
    </p>
</div>
