@{
    ViewData["Title"] = "Warehouse Administration";
}

<a href="/" class="gm-module-bar gm-module-bar--warehouse gm-module-bar--link" title="Back to Home">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--warehouse" aria-hidden="true"></span>
    <span class="gm-module-bar__label">WAREHOUSE ADMINISTRATION</span>
</a>

<div class="row g-4 mt-2 justify-content-center">

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link gm-tile--intake" href="/WarehouseAdmin/Intake">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-tile__icon--bold gm-icon gm-icon--delivery" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Intake Weight Sheets</h2>
            </div>
            <p class="gm-tile__text">Manage grower intake weight sheets, lots, and intake loads across all locations.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link gm-tile--transfer" href="/WarehouseAdmin/Transfers">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-tile__icon--bold gm-icon gm-icon--transfer" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Transfer Weight Sheets</h2>
            </div>
            <p class="gm-tile__text">Manage elevator-to-elevator transfer weight sheets and transfer loads.</p>
        </a>
    </div>

</div>
