@{
    ViewData["Title"] = "Home";
}
@inject ICurrentUser CurrentUser


<div class="gm-hero">
    <div class="gm-hero__inner">
        <h1 class="gm-hero__title">Grain Management</h1>
        <p class="gm-hero__subtitle">Choose an area to get started.</p>
    </div>
</div>

<div class="row g-4 mt-2">
    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--warehouse" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Warehouse</h2>
            </div>
            <p class="gm-tile__text">Receiving from growers, elevator-to-elevator transfers, shipping, and inventory.</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Warehouse">Enter Warehouse</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--seed" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Seed</h2>
            </div>
            <p class="gm-tile__text">Seed receiving from growers, transfers between elevators, conditioning, and lots.</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Seed">Enter Seed</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--reports" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Reports</h2>
            </div>
            <p class="gm-tile__text">Daily totals, history, inventory reports, and management summaries.</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Reports">View Reports</a>
            </div>
        </div>
    </div>


    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--camera" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Cameras</h2>
            </div>
            <p class="gm-tile__text">View Cameras</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Camera">Cameras</a>
            </div>
        </div>
    </div>


    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--scale" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Scales</h2>
            </div>
            <p class="gm-tile__text">View Scales</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Scales">Scales</a>
            </div>
        </div>
    </div>


@* Role-based tiles *@
    @if (CurrentUser.IsAuthenticated)

    {



        if (CurrentUser.IsAdmin)



        {



            <div class="col-12 col-lg-4">
                <div class="gm-tile">
                    <div class="gm-tile__header">
                        <div class="gm-tile__icon gm-icon gm-icon--admin" aria-hidden="true"></div>
                        <h2 class="gm-tile__title">Administrator</h2>
                    </div>
                    <p class="gm-tile__text">Account, Product, User Setup</p>
                    <div class="gm-tile__actions">
                        <a class="btn btn-primary w-100" href="/Admin">Enter Admin</a>
                    </div>
                </div>
            </div>

            
           
        }

        <!-- Manager Functions card -->




        if (CurrentUser.IsManager || (CurrentUser.IsAdmin))



        {



            <div class="col-12 col-lg-4">
                <div class="gm-tile">
                    <div class="gm-tile__header">
                        <div class="gm-tile__icon gm-icon gm-icon--manager" aria-hidden="true"></div>
                        <h2 class="gm-tile__title">Manager</h2>
                    </div>
                    <p class="gm-tile__text">Editing,</p>
                    <div class="gm-tile__actions">
                        <a class="btn btn-primary w-100" href="/Reports">Enter Manager</a>
                    </div>
                </div>
            </div>
        }

    }
</div>

<div class="mt-4 gm-quicklinks">
    <a class="gm-link" href="/Home/Dashboard">Location Summary</a>
</div>
