@{
    ViewData["Title"] = "Hauling";
}

<a href="@Url.Action("Index", "Admin")" class="gm-module-bar gm-module-bar--admin gm-module-bar--link" title="Back to Admin">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--hauling" aria-hidden="true"></span>
    <span class="gm-module-bar__label">HAULING</span>
</a>

<div class="row g-4 mt-2">
    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/Haulers">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--hauling" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Haulers</h2>
            </div>
            <p class="gm-tile__text">View registered haulers.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/FuelSurcharge">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--locations" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Fuel Surcharge</h2>
            </div>
            <p class="gm-tile__text">Manage fuel surcharges by location and district.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/WeightSheetHaulerRates">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--settings" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Hauler Rates</h2>
            </div>
            <p class="gm-tile__text">Edit weight sheet hauler rate tiers.</p>
        </a>
    </div>
</div>
