@{
    ViewData["Title"] = "Admin";
}


<a href="/" class="gm-module-bar gm-module-bar--admin gm-module-bar--link" title="Back to Home">
    <i class="dx-icon dx-icon-arrowleft gm-module-bar__arrow"></i>
    <span class="gm-module-bar__icon gm-icon gm-icon--admin" aria-hidden="true"></span>
    <span class="gm-module-bar__label">ADMINISTRATION</span>
</a>

<div class="row g-4 mt-2">
    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Users">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--user" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Users</h2>
            </div>
            <p class="gm-tile__text">User Management.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Accounts">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--accounts" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Accounts</h2>
            </div>
            <p class="gm-tile__text">Producer, Landlord, Vendor Accounts.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Items">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--products" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Items</h2>
            </div>
            <p class="gm-tile__text">Seed, Grain, Chemicals, Services, Misc.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Locations">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--locations" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Locations</h2>
            </div>
            <p class="gm-tile__text">Locations</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/StateCounties">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--us-map" aria-hidden="true"></div>
                <h2 class="gm-tile__title">States &amp; Counties</h2>
            </div>
            <p class="gm-tile__text">Edit state and county abbreviations.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/AuditTrail">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--settings" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Audit Log</h2>
            </div>
            <p class="gm-tile__text">View change audit trail.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/Hauling">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--hauling" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Hauling</h2>
            </div>
            <p class="gm-tile__text">Haulers, fuel surcharges, and hauler rates.</p>
        </a>
    </div>

    <div class="col-12 col-lg-4">
        <a class="gm-tile gm-tile--link" href="/Admin/SplitGroups">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--accounts" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Split Groups</h2>
            </div>
            <p class="gm-tile__text">Browse split groups and per-grower split percentages.</p>
        </a>
    </div>
</div>
