@{
    ViewData["Title"] = "Admin";
}


<div class="gm-pagehead">
    <div class="gm-pagehead__title">
        <span class="gm-pagehead__icon gm-icon gm-icon--admin" aria-hidden="true"></span>
        <h1>Administration</h1>
    </div>
    <p class="text-muted">Account, Product, User Setup</p>
</div>

<div class="row g-4 mt-2">
    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--user" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Users</h2>
            </div>
            <p class="gm-tile__text">User Management.</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Users">Start</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--accounts" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Accounts</h2>
            </div>
            <p class="gm-tile__text">Producer, Landloard, Vendor Accounts.</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Accounts">Start</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--products" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Products</h2>
            </div>
            <p class="gm-tile__text">Seed,Grain,Chemicals, Services, Misc.</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Warehouse/ShipLoad">Start</a>
            </div>
        </div>
    </div>

        <div class="col-12 col-lg-4">
        <div class="gm-tile">
            <div class="gm-tile__header">
                <div class="gm-tile__icon gm-icon gm-icon--locations" aria-hidden="true"></div>
                <h2 class="gm-tile__title">Locations</h2>
            </div>
            <p class="gm-tile__text">Locations</p>
            <div class="gm-tile__actions">
                <a class="btn btn-primary w-100" href="/Locations">Start</a>
            </div>
        </div>
    </div>

     <div class="col-12 col-lg-4">
                <div class="gm-tile">
                    <div class="gm-tile__header">
                        <div class="gm-tile__icon gm-icon gm-icon--settings" aria-hidden="true"></div>
                        <h2 class="gm-tile__title">System Settings</h2>
                    </div>
                    <p class="gm-tile__text">Settings for this server</p>
                    <div class="gm-tile__actions">
                        <a class="btn btn-primary w-100" href="/Admin">Enter Settings</a>
                    </div>
                </div>
            </div>
</div>

<div class="mt-4 gm-quicklinks">
    <a class="gm-link" href="/">Back to Home</a>
</div>


